/* common styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  cursor: pointer;
}
/* ===============common================ */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* ===============Header================ */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu,
.contacts {
  display: none;
}
.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.page-logo .logo-header,
.logo-part {
  color: #2e2f42;
}
.logo-header {
  padding: 16px 0;
  display: block;
}
.burger-btn {
  border: none;
  background-color: transparent;
  padding: 0px;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .logo-header {
    padding: 24px 0;
    display: block;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .page-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link.current {
    position: relative;
  }
  .menu-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
  }
  .menu-link:hover,
  .menu-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .menu-link.current {
    color: #404bbf;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
  .contacts-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* =====================Mobile menu============ */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  stroke-width: 1px;
  fill: #2e2f42;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-nav-list {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current-mobile {
  color: #404bbf;
}

.contacts-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-link-mobile {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-mobile:hover,
.nav-link-mobile:focus,
.contacts-link-mobile:hover,
.contacts-link-mobile:focus {
  color: #404bbf;
}

.current-link {
  color: #4d5ae5;
}

.media-list-mobile {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 48px;
}

.item-media-mobile {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.icon-media-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.icon-media-mobile:hover,
.icon-media-mobile:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* ======================Hero============= */

.main {
  background-color: #2e2f42;
  align-items: center;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile-1x.jpg);
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile-2x.jpg);
  }
}
.main-title {
  font-size: 36px;
  line-height: 1.12;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  letter-spacing: 0.02em;
}

.order-servise-btn {
  border: none;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-servise-btn:hover,
.order-servise-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
    min-height: 436px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet-2x.jpg);
    }
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .main {
    padding: 188px 0;
    max-width: 1440px;
    min-height: 600px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desctop-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-desctop-2x.jpg);
    }
  }

  .main-title {
    margin-bottom: 48px;
  }
}
/* ===================our benefits========== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-icon-benefits {
  display: none;
}
.section-benefits {
  padding: 96px 0;
  margin-left: auto;
  margin-right: auto;
}
.benefits-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
}
.benefits-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.benefits-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-list-title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .section-benefits {
    padding: 120px 0;
  }

  .benefits-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .feature-card {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feature-icon-benefits {
    margin: auto;
  }

  .benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-list-text {
    font-weight: 400;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }
  .feature-icon-benefits {
    display: block;
  }
}

/* =======================our team===================*/

.section-team {
  background-color: #f4f4fd;
  padding: 96px 0;
  margin-right: auto;
  margin-left: auto;
}
.title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  text-transform: capitalize;
}
.text-team-container {
  padding: 32px 0;
}
.team-list-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  width: 264px;
}
.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.our-team-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}
.icons-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.iconsteam {
  fill: #f4f4fd;
}
.icons-link:hover,
.icons-link:focus {
  background-color: #404bbf;
}
.team-icons {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    gap: 64px 24px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
  .section-team {
    padding: 120px 0;
  }
}
/* =======================our portfolio=============== */
.overflow-portfolio {
  display: none;
}
.title-portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.text-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.section-portfolio {
  padding: 96px 0;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfilio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-list {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0 120px 0;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }

  .overflow-portfolio-wrapper {
    position: relative;
    overflow: hidden;
  }

  .overflow-portfolio {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover .overflow-portfolio {
    transform: translateX(0);
  }
}
/*====================== footer=============== */
.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.container.container-footer-icons {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.our-team-icons {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.div-one {
  text-align: center;
}

.logo-footer .logo-part-footer {
  color: #f4f4fd;
}
.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  text-align: left;
}
.footer-icons-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 16px;
  text-align: center;
}
.icons-link.iconfooter:hover,
.icons-link.iconfooter:focus {
  background-color: #31d0aa;
}
.icons-link.iconfooter {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.our-team-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  padding: 0;
}
.team-icons {
  display: inline-block;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.icons-link.iconfooter {
  padding: 8px;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.form-footer-label {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.footer-input {
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-input::placeholder {
  color: #fff;
}
.label-footer {
  background-color: transparent;
}
.footer-btn {
  width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 24px;
}
.footer-btn:hover,
.footer-btn:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
  cursor: pointer;
}
.icon-btn-footer {
  fill: #fff;
  margin-left: 16px;
}
.label-footer {
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .container.container-footer-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
    padding-right: 108px;
  }
  .footer-icons {
    margin: 0;
  }
  .subscribe-container {
    flex-direction: row;
    gap: 24px;
  }
  .logo-footer {
    display: block;
    text-align: left;
  }
  .footer-icons-text {
    text-align: left;
  }
  .form-footer-label {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
  .container.container-footer-icons {
    display: flex;
    align-items: baseline;
    gap: 0;
    row-gap: 0;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    max-width: 1158px;
    margin: 0 auto;
  }

  .our-team-icons {
    display: flex;
    margin-right: 80px;
  }

  .div-one {
    margin-right: 120px;
  }

  .subscribe-footer {
    margin-left: 0;
    width: 453px;
    height: 80px;
  }

  .subscribe-container {
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }
}
/* ==================modal========= */
.modal-backdrop {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;

  width: 408px;

  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #2e2f42;
  background-color: #e7e9fc;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);

  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}
.modal-slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus,
.review-form-comment:focus {
  border-color: #4d5ae5;
  outline: none;
}
.review-form-fieled-wrapper {
  margin-bottom: 8px;
}
.fourth-div {
  margin-bottom: 16px;
}
.review-form-field-label {
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.review-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  stroke: #2e2f42;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.review-form-input:focus + .review-form-input-icon {
  fill: #4d5ae5;
  stroke: #4d5ae5;
}
.review-form-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
}
.review-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.review-form-custum-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-custum-checkbox {
  background-color: #404bbf;
  /* fill: #fff; */
  fill: #f4f4fd;
  border: none;
}

.review-form-policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.review-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-submit-btn {
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  padding: 0;
  display: block;

  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
.review-form-submit-btn:hover,
.review-form-submit-btn:focus,
.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}
.review-form-icon-checkbox {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    min-height: 584px;
    width: 408px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
}
